@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h3>ya welcome ya welcome</h3>
    <h2>Ramadan Kareem :)</h2>
    <p><a class="btn btn-default" href="https://localhost:44387/Home/Contact">Go to form &raquo;</a></p>
</div>
